.headerInfo {
    
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 10%;
       
    }
    
    .dots {
        width: 18px;
        height: 18px;
        opacity: 0.5;
    }

    .imgProfile  {
        
          width: 140px; height: 140px;
        
        
        }