.headerInfo {
    
        
       
        margin-left: 10%;
        margin-right: 15%;
    }
    
    .dots {
        width: 18px;
        height: 18px;
        opacity: 0.5;
    }

    .imgProfile  {
        
          width: 140px; 
          height: 140px;
          text-align: center;
          display: block;
        
        
        }

        #grid {  
            text-align:center;
            width:200px;
            display:block;
        }

.grid {
    margin-bottom: 10%;


    
}
a {
    color: #1D1D1D;
}
a:hover {
    text-decoration: none;
}
