.headerInfo {
    
        
       
        margin-left: 10%;
        margin-right: 15%;
    }
    
    .dots {
        width: 18px;
        height: 18px;
        opacity: 0.5;
    }

    .imgProfile  {
        
          width: 100px; 
          height: 100px;
          text-align: center;
          display: block;
        
        
        }

        .align {  
            text-align:center;
            width:200px;
            display:block;
        }

.grid {
    margin-bottom: 10%;
    


    
}
a {
    color: #1D1D1D;
}
a:hover {
    text-decoration: none;
}

#authorsGrid {

    background-color: #FAF5F5;
}

#headerIndex {
    
        margin-top: 2%;
        margin-bottom: 1%
    }

    .lead {
       /*  font-style: italic; */
        font-family: 'Merriweather', serif;
    }

#fooPage {
    margin-top: 5%;
}

#author {
    font-family: 'Montserrat', sans-serif;
    color: #474343;

}

.textie {
    font-size: 17px;
}
